.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
}

.budget-cards{
    border: 3px solid black;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    background-color: white;
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
.max{
    font-size: 0.9rem;
}