.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1% auto;
    width: 50%;
    
}

.expense-cards{
    border: 3px solid black;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    background-color: white;
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../assets/backgroud-main.jpg);
    background-size: auto;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}
.adding-section{
    display: flex;
    width: 60%;
    margin: 0 auto;
}
form{
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: end;
    background: rgb(252, 233, 148);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    button{
        margin-top: 2%;
        height: 40px;
    }
}
label{
    padding-top: 24px;
    font-size: 1.5rem;
}
input{
    width: 50%;
    background: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 5% 0% 0% 1%;
    margin-bottom: 2%;
    outline: none;
}
h1{
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0.959);
    width: 500px;
    margin: 2% auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);

}
h2{
    font-size: 2rem;
    text-transform: capitalize;
}
p{
    font-size: 1.8rem;
    text-decoration: underline;
}
