.right{
    background-color: rgba(55, 142, 255, 0.98);
    justify-content: center;
    flex-basis: 25%;
    padding: 0;
    label{
        font-size: 2rem;
        color: rgb(255, 215, 41);
        font-weight: 700;
        margin-right: 2%;
        margin-top: 2%;
    }
    input{
        padding-left: 10px;
        width: 20%;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 30px;
        padding-top: 6%;
        color: white;
    }
}
.left{
    flex-basis: 55%;
    margin-left: 10%;
}
label{
    padding-top: 24px;
    font-size: 1.5rem;
}
input{
    width: 50%;
    background: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 2.5% 0% 0% 1%;
    margin-bottom: 2%;
    margin-right: 1%;
    outline: none;
    font-size: 1.3rem;
    font-weight: 800;
}
form{
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
    background: rgb(252, 148, 168,0.980);;
    border: 3px solid rgba(63, 63, 63, 0.925);
    border-radius: 15px;
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    button{
        margin-top: 2%;
        height: 40px;
    }
}