.total{
    margin: 2% auto;
    border: 3px solid black;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    font-size: 2.0rem;
    transition: 1s;
    p{
        text-decoration: none;
    }
    .max{
        font-size: 2rem;
    }
}
.green{
    background: rgb(106, 250, 195);
    .meh,
    .sad{
        display: none;
    }
}
.yellow{
    background: rgb(241, 225, 129);
    .smile,
    .sad{
        display: none;
    }
}
.red{
    background: rgb(233, 103, 103);
    .meh,
    .smile{
        display: none;
    }
}

@media (max-width: 550px) {
    .total{
        width: 70%;
    }
  }